pymupdf
langchain
langchain-community
langchain-anthropic
langchain-text-splitters
streamlit
python-dotenv
anthropic
scikit-learn
joblib
numpy
fpdf2
arabic-reshaper
python-bidi
torch==2.3.1
transformers==4.40.0
sentence-transformers==2.7.0
openai-whisper
streamlit-mic-recorder
numba
